# 1. 인구 피라미드

In [1]:
import pandas as pd

df_m = pd.read_excel('202106_202106_연령별인구현황_월간.xlsx', skiprows=3, index_col='행정기관', usecols='B,E:Y')
df_m.head(3)

C:\Users\user-pc\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,0~4세,5~9세,10~14세,15~19세,20~24세,25~29세,30~34세,35~39세,40~44세,45~49세,...,55~59세,60~64세,65~69세,70~74세,75~79세,80~84세,85~89세,90~94세,95~99세,100세 이상
행정기관,,,,,,,,,,,,,,,,,,,,,
서울특별시,"131,847","177,422","190,058","202,628","293,655","403,275","363,444","362,270","361,537","382,225",...,"350,864","344,760","254,985","184,560","132,587","80,024","31,549","8,492","1,830",619
부산광역시,"47,188","68,647","67,987","70,204","103,526","116,957","99,077","111,533","125,016","130,043",...,"133,519","144,903","111,549","79,397","53,396","31,740","11,576","2,691",429,149
대구광역시,"35,828","52,563","55,255","60,159","82,108","86,370","72,592","77,875","88,001","98,243",...,"99,237","93,747","66,263","46,135","30,816","19,903","8,473","1,767",287,70

In [2]:
df_m.iloc[0]

0~4세       131,847
5~9세       177,422
10~14세     190,058
15~19세     202,628
20~24세     293,655
25~29세     403,275
30~34세     363,444
35~39세     362,270
40~44세     361,537
45~49세     382,225
50~54세     390,811
55~59세     350,864
60~64세     344,760
65~69세     254,985
70~74세     184,560
75~79세     132,587
80~84세      80,024
85~89세      31,549
90~94세       8,492
95~99세       1,830
100세 이상        619
Name: 서울특별시  , dtype: object

In [3]:
import pandas as pd
df_w = pd.read_excel('202106_202106_연령별인구현황_월간.xlsx', skiprows=3, index_col='행정기관', usecols='B,AB:AV')
df_w.head(3)

C:\Users\user-pc\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,0~4세.1,5~9세.1,10~14세.1,15~19세.1,20~24세.1,25~29세.1,30~34세.1,35~39세.1,40~44세.1,45~49세.1,...,55~59세.1,60~64세.1,65~69세.1,70~74세.1,75~79세.1,80~84세.1,85~89세.1,90~94세.1,95~99세.1,100세 이상.1
행정기관,,,,,,,,,,,,,,,,,,,,,
서울특별시,"124,270","168,987","180,027","193,859","323,983","422,295","365,022","361,592","367,324","389,985",...,"362,655","380,524","289,535","216,802","162,100","112,444","60,906","24,432","6,054","1,850"
부산광역시,"44,864","65,017","64,275","65,613","97,385","106,204","92,992","107,424","121,088","129,702",...,"142,376","160,564","125,657","93,664","67,716","50,100","26,264","9,593","2,114",609
대구광역시,"33,895","50,332","51,641","54,015","73,555","73,993","62,403","75,330","89,045","101,851",...,"103,071","100,463","75,890","56,231","42,482","33,553","18,443","6,328","1,295",299

In [4]:
df_m.columns

Index(['0~4세', '5~9세', '10~14세', '15~19세', '20~24세', '25~29세', '30~34세',
       '35~39세', '40~44세', '45~49세', '50~54세', '55~59세', '60~64세', '65~69세',
       '70~74세', '75~79세', '80~84세', '85~89세', '90~94세', '95~99세', '100세 이상'],
      dtype='object')

In [5]:
df_w.columns

Index(['0~4세.1', '5~9세.1', '10~14세.1', '15~19세.1', '20~24세.1', '25~29세.1',
       '30~34세.1', '35~39세.1', '40~44세.1', '45~49세.1', '50~54세.1', '55~59세.1',
       '60~64세.1', '65~69세.1', '70~74세.1', '75~79세.1', '80~84세.1', '85~89세.1',
       '90~94세.1', '95~99세.1', '100세 이상.1'],
      dtype='object')

In [6]:
df_w.columns = df_m.columns
df_w.columns

Index(['0~4세', '5~9세', '10~14세', '15~19세', '20~24세', '25~29세', '30~34세',
       '35~39세', '40~44세', '45~49세', '50~54세', '55~59세', '60~64세', '65~69세',
       '70~74세', '75~79세', '80~84세', '85~89세', '90~94세', '95~99세', '100세 이상'],
      dtype='object')

In [7]:
df_w.iloc[0] = df_w.iloc[0].str.replace(',','').astype(int)
df_w.iloc[0]

0~4세       124270
5~9세       168987
10~14세     180027
15~19세     193859
20~24세     323983
25~29세     422295
30~34세     365022
35~39세     361592
40~44세     367324
45~49세     389985
50~54세     401902
55~59세     362655
60~64세     380524
65~69세     289535
70~74세     216802
75~79세     162100
80~84세     112444
85~89세      60906
90~94세      24432
95~99세       6054
100세 이상      1850
Name: 서울특별시  , dtype: object

In [8]:
df_w.iloc[0]

0~4세       124270
5~9세       168987
10~14세     180027
15~19세     193859
20~24세     323983
25~29세     422295
30~34세     365022
35~39세     361592
40~44세     367324
45~49세     389985
50~54세     401902
55~59세     362655
60~64세     380524
65~69세     289535
70~74세     216802
75~79세     162100
80~84세     112444
85~89세      60906
90~94세      24432
95~99세       6054
100세 이상      1850
Name: 서울특별시  , dtype: object

In [9]:
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib
matplotlib.rcParams['font.family']='Malgun Gothic'
matplotlib.rcParams['font.size'] = 15
matplotlib.rcParams['axes.unicode_minus'] = False

In [12]:
df_m.iloc[0] = df_m.iloc[0].str.replace(',','').astype(int)

ValueError: cannot convert float NaN to integer

In [11]:
plt.barh(df_m.columns,-df_m.iloc[0] // 1000)
plt.barh(df_w.columns,df_w.iloc[0] // 1000)
plt.title('인구 피라미드')

plt.savefig('2021_인구피라미드.png', dpi=100)
plt.show()

TypeError: bad operand type for unary -: 'str'